
.navbar-nav.navbar-sidenav {
    overflow-y: auto;
}
.btn .btn-success{
    float: right;
}

.media-body{
    font-size: 20px;
}

.custom-items .list-item-center{
    text-align: center;
    border: none;
}

.custom-items .list-item-center img{
    margin:0 auto;
    width: 100px;
    height: 100px;
}

.font-big{
    font-size: 30px;
}

.text-pad{
    padding-left: 50px;
}

.grid-50{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 50px 0 0;
}

.grid-50.--vertical-space{
    margin: 25px 0;
}

.grid-50 .line {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
}

.grid-50 .line:last-child {
    margin-bottom: 0;
}

.grid-50 .line div{
    flex: 1;
    /* width: 50%;*/
    margin: 0 10px;
}

.custom-btn {
    background: transparent;
    border: none;
    color: #007bff;
}

.login-page {
    width: 100%;
    height: 100vh;
    background-image: url('/images/bg-login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-page .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

.login-page .py-4 {
    width: 100%;
}

.login-page .card-header {
    text-align: center;
    font-size: 22px;
    padding: 20px 0px;
    background: #696EDE;
    border-radius: 0;
    border-width: 0;
    color: white;
}

.login-page .--custom-col {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 300px;
    height: 100vh;
}

.login-page .--custom-col .card {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.login-page .--custom-col .card .form-group.row {
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 0;
}

.login-page .--custom-col .card .form-group.row label {
    padding-left: 0;
    text-align: left!important;
}

.login-page .--custom-col .card .form-group.row input[type="text"] {
    height: 40px;
}

.login-page .--custom-col .card .form-group.row .checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-page .--custom-col .card .col-md-6 {
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.login-page .--custom-col .card .form-group.row .col-md-6.offset-md-4,
.login-page .--custom-col .card .form-group.row .col-md-8.offset-md-4 {
    margin: 0;
    padding: 0;
}

.login-page .btn-primary {
    background-color: #696EDE;
    border-width: 0;
    padding: 10px 35px;

}

.login-page .btn.btn-link {
    padding-left: 0;
    color: #696EDE;
}

.navbar-dark {
    background-color: #696EDE!important;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background-color: #7F83E2;
    color: white;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: white;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
    color: white;
    text-decoration: underline;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: white;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background-color: #9FA2E4;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    color: white;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
    text-decoration: underline;
    color: white;
}

.btn.btn-success {
    background-color: #4C4E56;
    border-color: #4C4E56;
    border-radius: 0;
    margin-bottom: 15px;
}

.clinic-container {
    padding: 20px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form .form-group {
    width: 50%;
}

.form .form-group label,
.form .form-group input[type="text"],
.form .form-group .col-md-5 {
    width: 100%;
    max-width: 100%;
}

.form .btn.btn-default {
    max-width: 200px;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
    background-color: #7F83E2;
}

.card-body h5 {
    padding-left: 15px;
}

.fc.fc-ltr.fc-unthemed {
    padding: 15px;
}

.fc-event {
    cursor: pointer;
}